[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
beautifulsoup4 = "*"
requests = "*"
lxml = "*"
pymongo = "*"
kafka-python = "*"
transliterate = "*"
redis = "*"
pytest = "*"

[dev-packages]
mypy = "*"
pylint = "*"
isort = "*"
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
